body{
    margin: 0;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
}
.wrapper{
    text-align: center;
}
#canvas{
    margin: 30px 0 0 0;
    border: 3px solid rgb(177, 1, 1);
    border-radius: 15px;

}

.but-clear{
    margin: 20px;
    background: #fff;
    border: 2px solid rgb(177, 1, 1);
    color: rgb(177, 1, 1);
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    width: 300px;
    height: 55px;
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;

}
.but-clear:hover {
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(202, 31, 31) inset;
}


